<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".DemoApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="🌐 网络库演示"
        android:theme="@style/Theme.Material3.DayNight">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HttpDemoActivity"
            android:exported="false" />
        <activity
            android:name=".WebSocketActivity"
            android:exported="false" />
        <activity
            android:name=".AdvancedConfigActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="false" />
        <activity
            android:name=".UploadActivity"
            android:exported="false" />
        <activity
            android:name=".NetworkMonitorActivity"
            android:exported="false" />
        <activity
            android:name=".ErrorHandlingActivity"
            android:exported="false" />
        <activity
            android:name=".MvvmDemoActivity"
            android:exported="false" />
        <activity
            android:name=".BasicRequestActivity"
            android:exported="false" />
        <activity
            android:name=".DownloadActivity"
            android:exported="false" />
        <activity
            android:name=".DynamicConfigActivity"
            android:exported="false" />
        <activity
            android:name=".AdvancedActivity"
            android:exported="false" />
    </application>
</manifest>